<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Mapeando" %></title>

    <%= stylesheet_link_tag    "application" %>
  </head>

  <body ng-app="demandsApp">
    <%= alert or notice %>
 


    <div id="header">
      <div class="row">
        <div class="medium-3 hide-for-small-only text-left logo columns">
          <%= link_to image_tag('logo.png', size: '190x35'), '#/' %>
        </div>

        <div class="medium-3 hide-for-small-only columns">
          &nbsp;
        </div>

        <div class="medium-6 columns menu text-right end" ng-controller="userSessionController">
          <ol class="navigation" ng-class="{ 'user-logged': currentUser }">
            <li class="navigation-link button-action">
              <a href="#/demands/new"> 
                <span>Tenho uma ideia!</span>

              </a>
            </li>


            <li class="navigation-link" ng-show="!currentUser">
              <a href="#/signup" class="signup" >
                <span> Inscreva-se </span>
              </a>
            </li>

            <li class="navigation-link" ng-show="!currentUser">
              <a href="#/login" class="login" >
                <span> Login </span>
              </a>
            </li>

            <li class="navigation-link hidden" ng-show="currentUser">
              <a href="#/login" class="login" >
                <span> Minhas demandas </span>
              </a>
            </li>


            <li class="navigation-link hidden user-avatar" ng-show="currentUser">
              <a class="current-user">
                <img ng-src="{{ currentUser.avatar }}" width="40" height="40" alt="avatar"/>
                <span>&#x25BC;</span>
              </a>


              <ul class="user-menu">
                <!--<li> <a> Meu perfil </a> </li>-->
                <li> <a href="mailto:luiz@labrio.cc"> Reportar um erro </a> </li>
                <li> <a href="#/logout"> Desconectar </a> </li>

              </ul>
            </li>


          </ol>

        </div>

      </div>

    </div>

    

    <div class="static-content"><%= yield %></div>
    <div class="view-container">
      <div class="view-animate" ng-view></div>
    </div>



    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&region=BR&language=pt_BR&output=json" %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
