<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato" %>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="demandsApp">
    <%= alert or notice %>
 

    <div id="labrio-header">
      <div class="row">
        <div class="medium-12 columns">
          <a href="http://labrio.cc" target="_blank" title="Visitar o site do Laboratório de Participação do Rio"><%= image_tag('labrio-header.png') %></a>
        </div>
      </div>

    </div>



    <div id="header" style="width: 100%">
      <div class="row" style="width: 100%;">
        <div class="medium-3 text-left logo columns">
          <%= link_to image_tag('logo.png'), '#/' %>
        </div>

        <div class="medium-3 columns">
          &nbsp;
        </div>

        <div class="medium-6 columns menu text-right end">
          <nav>
            <a href="#/demands/new?type=demand" class="nav-link"> 
              <%= image_tag('idea.png', size: '30x30') %>
              <span><i>Tenho </i><i>uma ideia</i></span>
            </a>

            <a href="#/demands/new?type=issue" class="nav-link"> 
              <%= image_tag('issue.png', size: '30x30') %>
              <span><i>Tenho </i><i>um problema</i></span>
            </a>


            <a href="/users/sign_in" class="login nav-link" >
              <%= image_tag('http://placehold.it/30x30', size: '30x30') %>
              <span><i>&nbsp;</i><i>Login</i></span>
            </a>
          </nav>
        </div>

      </div>

    </div>

    

    <div class="static-content"><%= yield %></div>
    <div class="view-container">
      <div class="view-animate" ng-view></div>
    </div>



    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&region=BR&language=pt_BR&output=json" %>
    <%= javascript_include_tag "application" %>



    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=430204343811421&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
